<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--======== All Stylesheet =========-->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/linearicons.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
</head>

<body>
<div id="aps">
<!-- Header -->
<header class="header">
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-5">
                    <ul class="list-inline security">
                    </ul>
                </div>
                <div class="col-md-6 col-xs-5">
                    <ul class="list-inline security">
                        <li title="Login" id="welcome"><i class=" lnr lnr-lock"></i><a href="login.html" class="hidden-xs">Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



    <div class="bottom-header bottom-header2">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <nav class="navbar navbar-default">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-id" aria-expanded="false"/>
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </div>
                        <div class="collapse navbar-collapse" id="menu-id">
                            <ul class="nav navbar-nav">
                                <li class="active dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">首页</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="index.html">首页</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">所有商品</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="goods_grid.html">商品列表</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="nav-search">
                                <form class="navbar-form navbar-right" role="search">
                                    <div class="form-group">
                                        <input type="text" id="searchKey" class="form-control" placeholder="Search..."><i @click="search" class="fa fa-search search-btn"></i>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

<!-- page header -->
<section class="page-header">
    <div class="page-header-overlay">
        <div class="container">
            <div class="row">
                <div class="section-title col-md-offset-3 col-md-6 text-center">
                   </div>
            </div>
        </div>
    </div>
</section>

<!-- menu row -->
<section class="menu-row">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="menu-link">
                    <div class="well well-lg page-label">
                        <h3 class="pull-left">所有商品</h3>
                        <ul class="list-inline pull-right">
                            <li>首页</li>
                            <li><i class="fa fa-angle-double-right"></i></li>
                            <li>所有商品</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Product -->

<section class="product-list" >
    <div class="grid-product">
        <div class="container">
            <div class="row">
                <!-- left sidebar -->
                <div class="col-md-3">
                    <div class="sidebar">
                        <!-- category widget -->
                        <div class="panel widget panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">分类</h3>
                            </div>

                            <!-- 类别 -->
                            <div class="panel-body">
                                <ul class="category-list">
                                    <li v-for="cate in cates" @click="javascript:changeCates(cate.categoryId);"><i class="fa fa-eye side-icon pull-left active"></i>{{cate.categoryName}}<i class="fa fa-angle-right pull-right"></i></li>
                                </ul>
                            </div>
                        </div>


                    </div>
                </div>
                <!-- 商品展示 -->
                <div class="col-md-9">

<!--这是一个商品-->

                        <div class="col-md-4 col-sm-6 col-xs-12"
                        v-for="goods in goodses">
                            <div class="single-grid">
                                <div class="grid-img">
                                    <img class="img-resposive" src="images/women2.jpg" alt="women" />
                                    <div class="grid-overlay">
                                        <ul>
                                            <li style="width: 100px"><a @click="javascript:buy(goods.goodsId);" class="lnr lnr-cart">BUY</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <h3>{{goods.goodsName}}<span>{{goods.goodsPrice}}</span></h3>
                                <p>{{goods.categoryName}}</p>
                            </div>
                        </div>



                </div>
            </div>
        </div>
    </div>
</section>
</div>
<!-- bottom footer -->
<footer class="bottom-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6 col-xs-12 text-center">
                <p>online shopping <i class=" lnr lnr-heart"></i> shop | All Rights Reserved By Us </p>
            </div>
        </div>
    </div>
</footer>


<!--======== All Javascript =========-->
<script src="js/jquery-2.1.1.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/axios.js"></script>

<script>
    var v1 = new Vue({
        el:"#aps",
        data:{
            cates:[],
            goodses:[],
            user:{},
        },
        methods:{
            search:function(){
                var key = $("#searchKey").val();
               axios.get("goods/like/"+key).then(res=>{this.goodses=res.data});
            },
            getCates:function () {
                axios.get("goodscategory/select").then(res=>this.cates=res.data);
            },
            getGoods:function () {
                axios.get("goods/allGoods").then(res=>this.goodses=res.data);
            },
            changeCates:function change(id) {
               axios.get("goods/allByCate/"+id).then(res=>this.goodses=res.data);
    },
            buy:function (id) {
                window.localStorage.setItem("id",id);
                window.location.href="detail.html";
            },
            getCurrUser:function () {
                axios.get("user/getCurrUser").then(res=>{
                    if(res.data!=""){
                        this.user=res.data;
                        $("#welcome").html("您好,"+res.data.userName);
                    }
                });
            }

        },
        mounted:function () {
            this.getCates();
            this.getGoods();
            this.getCurrUser();
        }
    });
</script>
</body>
</html>