<html lang="en" xmlns:v="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>BuyMore - eCommerce Bootstrap Template</title>

    <!--======== All Stylesheet =========-->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/linearicons.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
</head>


<!-- Header -->
<header class="header">
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-5">
                    <ul class="list-inline security">
                    </ul>
                </div>
                <div class="col-md-6 col-xs-5">
                    <ul class="list-inline security">
                        <li title="Login" id="welcome"><i class=" lnr lnr-lock"></i><a href="login.html" class="hidden-xs">Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-header bottom-header2">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <nav class="navbar navbar-default">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-id" aria-expanded="false"/>
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                        </div>
                        <div class="collapse navbar-collapse" id="menu-id">
                            <ul class="nav navbar-nav">
                                <li class="active dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">首页</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="index.html">首页</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">所有商品</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="goods_grid.html">商品列表</a></li>
                                    </ul>
                                </li>
                            </ul>

                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

<!-- home -->
<section class="home">
    <div class="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <h2>2020</h2>
                    <h1>Online Shopping</h1>
                    <small>Best Goods for Best You</small>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="hot">
<!-- feature box -->
<section class="feature-box">
    <div class="container">
            <div class="col-md-3 col-sm-6 col-xs-12"
            v-for="coupon in coupons"
            >
                <div class="f-s-b">
                    <div class="well well-sm">
                        <i class="lnr lnr-heart"></i>
                        <h3>{{coupon.couponName}}</h3>
                        <small>领取{{coupon.couponName}}，用完失效</small>
                        <button @click="javascript:getCoupon(coupon.couponId);">点击领取</button>
                    </div>
                </div>
            </div>
    </div>
</section>





<section class="feature-product" >
    <div class="grid-product">
        <div class="container">
            <div class="row">
                <div class="section-title col-md-offset-3 col-md-6 col-xs-12 text-center">
                    <h2>热卖  HOT</h2>
                    <small>优选精品</small>
                    <div class="section-border"><span class="dash"></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12"
                v-for="hot in hots">
                    <div class="single-grid">
                        <div class="grid-img">
                            <img class="img-resposive" src="images/women1.jpg" :alt=hot.categoryName />
                            <div class="grid-overlay">
                                <ul>
                                    <li style="width: 100px"><a @click="javascript:buy(hot.goodsId);" class="lnr lnr-cart">BUY</a></li>
                                </ul>
                            </div>
                        </div>
                        <h3>{{hot.goodsName}}<span>{{hot.goodsPrice}}</span></h3>
                        <p>{{hot.categoryName}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>

<!-- bottom footer -->
<footer class="bottom-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6 col-xs-12 text-center">
                <p>online shopping <i class=" lnr lnr-heart"></i> shop | All Rights Reserved By Us </p>
            </div>
        </div>
    </div>
</footer>

<!--======== All Javascript =========-->
<script src="js/jquery-2.1.1.js"></script>
<script src="js/axios.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/index.js"></script>
<link rel="stylesheet" href="js/index.css">

<script>
    var vue = new Vue({
        el:"#hot",
        data:{
           coupons:[],
            hots:[],
            user:{},
            coupon:{}
        },
        methods:{
            buy:function (id) {
                window.localStorage.setItem("id",id);
                window.location.href="detail.html";
            },
            getCoupons:function () {
                axios.get("coupon/all").then(res=>this.coupons=res.data);
            },
            getHots:function () {
                axios.get("goods/get4").then(res=>this.hots=res.data);
            },
            getCurrUser:function () {
                axios.get("user/getCurrUser").then(res=>{
                    if(res.data!=""){
                        this.user=res.data;
                        $("#welcome").html("您好,"+res.data.userName);
                    }
                });
            },
            getCoupon:function (couponId) {
                this.coupon.couponId = couponId;
                axios.post("coupon/get",this.coupon).then(res=>{
                    if(res.data){
                        this.$message({
                            message: '恭喜你，领取成功',
                            type: 'success'
                        });
                    }else {
                        this.$message.error('领取失败');
                    }
                })}
        },
        mounted:function () {
            this.getCoupons();
            this.getHots();
            this.getCurrUser();
        }
        });
</script>
</body>
</html>